{% extends 'base_app/base.html' %}
{% block content %}
    <div class="content-section">
        <h2>Activity Details</h2>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.activity_author.userprofile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"
                       href="{% url 'user-activity' object.activity_author.username %}">{{ object.activity_author }}</a>
                    <small class="text-muted">{{ object.activity_post_date|date:"F d, Y" }}</small>
                </div>
                <h2 class="article-title">{{ object.activity_title }}</h2>
                <p class="article-content">{{ object.activity_description }}</p>
                <p class="article-content">{{ object.activity_location }}</p>
                <p class="article-content">{{ object.activity_suburb }}</p>
                {% now "Y-m-d" as todays_date %}
                {% if todays_date <= activity.activity_end_time|date:"Y-m-d" %}
                    <a class="btn btn-outline-dark btn-sm mt-1 mb-1"
                       href="{% url 'interest' object.id %}">Confirm Attendance
                    </a>
                {% endif %}
            </div>
        </article>
    </div>
{% endblock content %}