{% extends 'base_app/base.html' %}
{% block content %}
    <div class="content-section">
        <h2>Map of Upcoming Activities</h2>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <script>
                        function initMap() {
                            const resultsMap = new google.maps.Map(document.getElementById("map"), {
                                zoom: 10,
                                center: {lat: -34.397, lng: 150.644},
                            });
                            let geocoder = new google.maps.Geocoder();
                            {% for activity in activities %}

                                address = "{{ activity.activity_location }}";
                                geocoder.geocode({"address": address}, (results, status) => {
                                    if (status === "OK") {
                                        resultsMap.setCenter(results[0].geometry.location);
                                        new google.maps.Marker({
                                            map: resultsMap,
                                            position: results[0].geometry.location,
                                        });
                                    } else {
                                        alert(
                                            "Geocode was not successful for the following reason: " + status
                                        );
                                    }
                                });
                            {% endfor %}
                        }
                    </script>
                    <div id="map"></div>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}